$font-base-xs: 12px;
$font-base-xs-l: 13px;
$font-base-sm-xs: 13px;
$font-base-sm-s: 16px;
$font-base-sm: 18px;
$font-base-md: 24px;
$font-base-lg: 30px;
$font-heading-xs: 32px;
$font-heading-sm: 40px;
$font-heading-md: 48px;
$font-heading-lg: 56px;

$c-main: #7384FF;
$c-main--b: #55A0FF;
$c-black-3: #333;
$c-black-6: #666;
$c-black-9: #999;
$c-black-4a: #4a4a4a;
$c-black--cd6: #ccccd6;
$c-black--ef3: #eeeef3;
$c-black--8ff: #f5f8ff;
$c-black--9fc: #f9f9fc;
$c-black--b4b: #FF4B4B;

$white:#FFFFFF;
$radius:4px;
$count-radius:8px;

$center-max-width:1146px;
$desc-img-min-width:1920;
$product-image-thumb-size:90px;
$product-image-box:570px;
$product-image-size:530px;
$c-header-start: #7384FF;
$c-header-temp: #39A9FF;
$c-header-stop: #36ABFF;